#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.appContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
  background-color: lightgray;
  overflow: hidden;
}

.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
}

.content {
  grid-area: content;
  padding: 1rem;
  overflow-y: auto;
  height: 100%;
}
